# Archivos compilados de Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.venv/

# Archivos de construcción
build/
dist/

# PyInstaller
*.spec

# Archivos temporales
*.log

# Configuración de VS Code
.vscode/